# z for easy navigation
. `brew --prefix`/etc/profile.d/z.sh

# Extracts rar files and opens mkv files
# Takes folder containing rar files as argument
function extract-and-watch {
	pushd $1
	unrar x *.rar
	open *.mkv -a mplayerx
	popd
}

# Function to create directory structures based on templates
# Create templates in ~/.dirstructurer
# Templates looks like this:
# test/
# test/nested
# test/{nested2,nested3}
# test2/test2-nested
function ds {
	TEMPLATE_DIR="$HOME/.dirstructurer"
	SELECTED_TEMPLATE=$(echo "$1" | tr '[:upper:]' '[:lower:]')

	TEMPLATE="$TEMPLATE_DIR/$SELECTED_TEMPLATE"
	OUTPUT=$3

	if [[ -z $1 || -z $2 ]]; then
		echo "Usage: ds <template-name> <output dir>"
		return
	fi

	if [[ -f $TEMPLATE ]]; then
		while read line; do
			test=$(eval echo $line)
			echo $test | xargs mkdir -p
		done < $TEMPLATE
	else
		echo "Template $TEMPLATE doesn't exist"
	fi
}
